* {
    margin: 0;
    padding: 0;
}

.page {
    background-color: #f2f6f5;
}

.container a {
    color: #006C84;
}

.block {
    background-color: #c8dad3;
    /* #B2DBD5 */
    height: 80px;
    /* width: 180px; */
    margin-bottom: 5px;
    position: relative;
    color: black;
}

#wicon {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
}

.town-item {
    background-color: #006C84;
    text-align: center;
    border-radius: 10px;
    color: white;
}
