.jumbotron {
    background-image: url(pexels-photo-688890.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    width: 100%;
}